$bg-image: url(/assets/images/home-screen.jpg);

// :host{
//     position: absolute;
//     width: 1024px;
//     height: 703px;
//     overflow: hidden;
//     margin: 0 auto;
// }

.main-panel{
    position: relative;
    width: 1024px;
    height: 703px;
    overflow: hidden;
    margin: 0 auto;
}

.bg-image{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome-text{
    position: absolute;
    width: 400px;
    height: 100px;
}

.heading{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 200px;
    left: 302px;
    text-align: center;
    font-size: 42px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.button{
    position: relative;
    width: 700px;
    height: 200px;
}

.play-button{
    position: relative;
    width: 100%;
    height: 100%;
    top: 560px;
    left: 150px;
    background-image: url(/assets/images/play-button.png);
    background-repeat: no-repeat;
    background-size: contain;
}



@font-face {
	font-family:'Decovar Regular24'; 
	src:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/Decovar-VF.ttf');
}

h1 {
	margin: 0;
	font-size: 20vw;
	position: relative;

	// Variable font
	font-family: "Decovar Regular24"; 
	font-variation-settings: 'INLN' 1000, 'SWRM' 1000;

	
	// Background clip to image
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;	
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/209981/209708058_b5a5fb07a6_o.jpg);
	background-size: 30%;
	background-repeat: repeat;
	
	text-shadow: 2px 2px 5px rgba(#2a4308, 0.4);
	animation: grow 4s linear infinite;
	
	&:before {	
		text-shadow: 
			1px 1px 2px rgba(#2a4308, 0.5),
			-1px 1px 2px rgba(#2a4308, 0.5),
			-1px -1px 2px rgba(#2a4308, 0.5),
			1px -1px 2px rgba(#2a4308, 0.5),
			3px 3px 20px rgba(#000, 0.5);
	}
	
	&:after {
		color: #421F00;
		font-variation-settings: 'INLN' 0;
	}
}

@keyframes grow {
	0% {
		font-variation-settings: 'INLN' 1000, 'SWRM' 1000;
	}
	
	50% {
		font-variation-settings: 'INLN' 1000, 'SWRM' 0;
	}
}


//Positioning
html {
	height: 100%;
}

body {
	background: radial-gradient(ellipse at center, #adbf41 20%,#328a26 80%);
	height: 100%;
}

h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 414px;
	height: 65px;
	text-align: center;
    letter-spacing: 0.6rem;
    font-size:34px;
    font-weight:bold;
	
	&:after, &:before {
		content: attr(data-text);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 400px;
	height: 30px;
		z-index: -1;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.blink_me {
	animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }