<div class="main-panel">
  <div class="bg-image">
    <img src="assets/images/home-screen.jpg" alt="">
  </div>

  <div class="welcome-text">
    <div class="heading">
      <!-- <div class="text">Welcome</div>
      <div class="text">to</div>
      <div class="text">my game</div>
      <div class="text">Developed by</div>
      <div class="text">Sneha Jagdale</div> -->

      <h1 contenteditable data-text="Grass">Welcome</h1>
      <h1 contenteditable data-text="Grass">to</h1>
      <h1 contenteditable data-text="Grass">my game</h1>
      <h1 contenteditable data-text="Grass">Developed by</h1>
      <h1 contenteditable data-text="Grass">Sneha Jagdale</h1>
    </div>
  </div>

  <div class="button">
    <div class="play-button blink_me" (click)="navigateTo('screen-2')"></div>
  </div>

</div>