<div class="top-panel">
  <div class="bg-image">
    <img src="assets/images/main-screen.jpg" alt="">
  </div>

  <div class="dog" (click)="showQuoteForDog('dog')"></div>

  <div class="dog circle-role" [class.move-dog-to-ball]="showDogQuote" *ngIf="showDogQuote">
    <div class="dogQuote"></div>
  </div>

  <div class="cake" (click)="showQuoteForCake('cake')"></div>

  <div class="cake circle-role" [class.move-cake-to-ball]="showCakeQuote" *ngIf="showCakeQuote">
    <div class="cakeQuote"></div>
  </div>

  <div class="dice" (click)="showQuoteForDice('dice')"></div>

  <div class="dice circle-role" [class.move-dice-to-ball]="showDiceQuote" *ngIf="showDiceQuote">
    <div class="diceQuote"></div>
  </div>

  <div class="salt" (click)="showQuoteForSalt('salt')"></div>

  <div class="salt circle-role" [class.move-salt-to-ball]="showSaltQuote" *ngIf="showSaltQuote">
    <div class="saltQuote"></div>
  </div>

  <div class="bottle" (click)="showQuoteForBottle('bottle')"></div>

  <div class="bottle circle-role" [class.move-bottle-to-ball]="showBottleQuote" *ngIf="showBottleQuote">
    <div class="bottleQuote"></div>
  </div>

  <div class="cupcake" (click)="showQuoteForCupcake('cupcake')"></div>

  <div class="cupcake circle-role" [class.move-cupcake-to-ball]="showCupcakeQuote" *ngIf="showCupcakeQuote">
    <div class="cupcakeQuote"></div>
  </div>

  <div class="guitar" (click)="showQuoteForGuitar('guitar')"></div>

  <div class="guitar circle-role" [class.move-guitar-to-ball]="showGuitarQuote" *ngIf="showGuitarQuote">
    <div class="guitarQuote"></div>
  </div>

  <div class="guitar" (click)="showQuoteForGuitar('guitar')"></div>

  <div class="guitar circle-role" [class.move-guitar-to-ball]="showGuitarQuote" *ngIf="showGuitarQuote">
    <div class="guitarQuote"></div>
  </div>

  <div class="broom" (click)="showQuoteForBroom('broom')"></div>

  <div class="broom circle-role" [class.move-broom-to-ball]="showBroomQuote" *ngIf="showBroomQuote">
    <div class="broomQuote"></div>
  </div>

  <div class="owl" (click)="showQuoteForOwl('owl')"></div>

  <div class="owl circle-role" [class.move-owl-to-ball]="showOwlQuote" *ngIf="showOwlQuote">
    <div class="owlQuote"></div>
  </div>

  <div class="fruit" (click)="showQuoteForFruit('fruit')"></div>

  <div class="fruit circle-role" [class.move-fruit-to-ball]="showFruitQuote" *ngIf="showFruitQuote">
    <div class="fruitQuote"></div>
  </div>

  <div class="spoon" (click)="showQuoteForSpoon('spoon')"></div>

  <div class="spoon circle-role" [class.move-spoon-to-ball]="showSpoonQuote" *ngIf="showSpoonQuote">
    <div class="spoonQuote"></div>
  </div>

  <div class="gloves" (click)="showQuoteForGloves('gloves')"></div>

  <div class="gloves circle-role" [class.move-gloves-to-ball]="showGlovesQuote" *ngIf="showGlovesQuote">
    <div class="glovesQuote"></div>
  </div>

  <div class="lizard" (click)="showQuoteForLizard('lizard')"></div>

  <div class="lizard circle-role" [class.move-lizard-to-ball]="showLizardQuote" *ngIf="showLizardQuote">
    <div class="lizardQuote"></div>
  </div>

  <div class="mixer" (click)="showQuoteForMixer('mixer')"></div>

  <div class="mixer circle-role" [class.move-mixer-to-ball]="showMixerQuote" *ngIf="showMixerQuote">
    <div class="MixerQuote"></div>
  </div>

  <div class="candle" (click)="showQuoteForCandle('candle')"></div>

  <div class="candle circle-role" [class.move-candle-to-ball]="showCandleQuote" *ngIf="showCandleQuote">
    <div class="candleQuote"></div>
  </div>

  <div class="glass" (click)="showQuoteForGlass('glass')"></div>

  <div class="glass circle-role" [class.move-glass-to-ball]="showGlassQuote" *ngIf="showGlassQuote">
    <div class="glassQuote"></div>
  </div>

  <div class="tissue" (click)="showQuoteForTissue('tissue')"></div>

  <div class="tissue circle-role" [class.move-tissue-to-ball]="showTissueQuote" *ngIf="showTissueQuote">
    <div class="tissueQuote"></div>
  </div>

  <div class="hat" (click)="showQuoteForHat('hat')"></div>

  <div class="hat circle-role" [class.move-hat-to-ball]="showHatQuote" *ngIf="showHatQuote">
    <div class="hatQuote"></div>
  </div>

  <div class="bird" (click)="showQuoteForBird('bird')"></div>

  <div class="bird circle-role" [class.move-bird-to-ball]="showBirdQuote" *ngIf="showBirdQuote">
    <div class="birdQuote"></div>
  </div>


  <div class="drop-box"></div>



  <div class="ball" *ngIf="showEffect" [style.top.px]="effectTop" [style.left.px]="effectLeft"></div>

</div>