.top-panel {
  position: absolute;
  width: 1024px;
  height: 703px;
}

.bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(/assets/images/main-screen.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.dog {
  position: absolute;
  width: 109px;
  height: 103px;
  top: 338px;
  left: 7px;
  background-image: url(/assets/images/dog.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.circle-role {
}

.move-dog-to-ball {
  animation-name: dogAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes dogAnimation {
  from {
    top: 338px;
    left: 7px;
    z-index: 1000;
    width:109px;
    height:103px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.ball {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: 5px solid rgba(167, 255, 231, 0.9);
  opacity: 0.9;
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  box-shadow: 0 0 35px white;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  animation: spin 0.5s 4 linear;
  -moz-animation: spin 0.5s 4 linear;
  -webkit-animation: spin 0.5s 4 linear;
}

.cake {
  position: absolute;
  width: 100px;
  height: 61px;
  top: 470px;
  left: 215px;
  background-image: url(/assets/images/cake.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.move-cake-to-ball {
  animation-name: cakeAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes cakeAnimation {
  from {
    top: 470px;
    left: 215px;
    z-index: 1000;
    width:109px;
    height:103px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.dice {
  position: absolute;
  width: 64px;
  height: 50px;
  top: 512px;
  left: 271px;
  background-image: url(/assets/images/dice.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.move-dice-to-ball {
  animation-name: diceAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes diceAnimation {
  from {
    top: 512px;
    left: 271px;
    z-index: 1000;
    width:64px;
    height:50px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.bottle {
  position: absolute;
  width: 85px;
  height: 50px;
  top: 515px;
  left: 506px;
  background-image: url(/assets/images/bottle.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.move-bottle-to-ball {
  animation-name: bottleAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes bottleAnimation {
  from {
    top: 515px;
    left: 506px;
    z-index: 1000;
    width:85px;
    height:50px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.salt {
  position: absolute;
  width: 64px;
  height: 61px;
  top: 499px;
  left: 465px;
  background-image: url(/assets/images/salt.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.move-salt-to-ball {
  animation-name: saltAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes saltAnimation {
  from {
    top: 499px;
    left: 465px;
    z-index: 1000;
    width:64px;
    height:61px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.cupcake {
  position: absolute;
  width: 50px;
  height: 61px;
  top: 320px;
  left: 188px;
  background-image: url(/assets/images/cupcake.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.move-cupcake-to-ball {
  animation-name: cupcakeAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes cupcakeAnimation {
  from {
    top: 320px;
    left: 188px;
    z-index: 1000;
    width:50px;
    height:61px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 1000;
    width:30px;
    height:30px;
  }
}

.guitar {
  position: absolute;
  width: 50px;
  height: 110px;
  top: 226px;
  left: 137px;
  background-image: url(/assets/images/guitar-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}

.move-guitar-to-ball {
  animation-name: guitarAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes guitarAnimation {
  from {
    top: 226px;
    left: 137px;
    z-index: 1000;
    width:50px;
    height:110px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.broom {
  position: absolute;
  width: 193px;
  height: 180px;
  top: 160px;
  left: 198px;
  background-image: url(/assets/images/broom.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.6;
  transform: rotate(153deg);
}

.move-broom-to-ball {
  animation-name: broomAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes broomAnimation {
  from {
    top: 226px;
    left: 137px;
    z-index: 1000;
    width:193px;
    height:180px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 1000;
    width:30px;
    height:30px;
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    display: none;
  }
}

.owl {
  position: absolute;
  width: 193px;
  height: 180px;
  top: 70px;
  left: 293px;
  background-image: url(/assets/images/owl-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  // opacity: 0.7;
}

.move-owl-to-ball {
  animation-name: owlAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes owlAnimation {
  from {
    top: 70px;
    left: 293px;
    z-index: 1000;
    width:193px;
    height:180px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.fruit {
  position: absolute;
  width: 100px;
  height: 51px;
  top: 466px;
  left: 514px;
  background-image: url(/assets/images/strawberries.png);
  background-repeat: no-repeat;
  background-size: contain;
  // opacity: 0.7;
}

.move-fruit-to-ball {
  animation-name: fruitAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes fruitAnimation {
  from {
    top: 466px;
    left: 514px;
    z-index: 1000;
    width:100px;
    height:51px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.spoon {
  position: absolute;
  width: 115px;
  height: 65px;
  top: 481px;
  left: 622px;
  background-image: url(/assets/images/spoon.png);
  background-repeat: no-repeat;
  background-size: contain;
  // opacity: 0.7;
}

.move-spoon-to-ball {
  animation-name: spoonAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes spoonAnimation {
  from {
    top: 481px;
    left: 622px;
    z-index: 1000;
    width:115px;
    height:30px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.gloves {
  position: absolute;
  width: 118px;
  height: 105px;
  top: 433px;
  left: 886px;
  background-image: url(/assets/images/gloves.png);
  background-repeat: no-repeat;
  background-size: contain;
  // opacity: 0.7;
}

.move-gloves-to-ball {
  animation-name: glovesAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes glovesAnimation {
  from {
    top: 433px;
    left: 886px;
    z-index: 1000;
    width:118px;
    height:105px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.lizard {
  position: absolute;
  width: 65px;
  height: 58px;
  top: 349px;
  left: 928px;
  background-image: url(/assets/images/lizard.png);
  background-repeat: no-repeat;
  background-size: contain;
  // opacity: 0.7;
}

.move-lizard-to-ball {
  animation-name: lizardAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes lizardAnimation {
  from {
    top: 349px;
    left: 928px;
    z-index: 1000;
    width:65px;
    height:58px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.mixer {
  position: absolute;
  width: 64px;
  height: 70px;
  top: 221px;
  left: 490px;
  background-image: url(/assets/images/mixer-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
}

.move-mixer-to-ball {
  animation-name: mixerAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes mixerAnimation {
  from {
    top: 221px;
    left: 490px;
    z-index: 1000;
    width:64px;
    height:70px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.candle {
  position: absolute;
  width: 64px;
  height: 70px;
  top: 59px;
  left: 888px;
  background-image: url(/assets/images/candle-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
}

.move-candle-to-ball {
  animation-name: candleAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes candleAnimation {
  from {
    top: 59px;
    left: 888px;
    z-index: 1000;
    width:64px;
    height:70px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.glass {
  position: absolute;
  width: 40px;
  height: 45px;
  top: 240px;
  left: 554px;
  background-image: url(/assets/images/wine-glass.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.7;
}

.move-glass-to-ball {
  animation-name: glassAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes glassAnimation {
  from {
    top: 240px;
    left: 554px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
  }
}

.tissue {
  position: absolute;
  width: 54px;
  height: 60px;
  top: 474px;
  left: 399px;
  background-image: url(/assets/images/tissue.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.move-tissue-to-ball {
  animation-name: tissueAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes tissueAnimation {
  from {
    top: 474px;
    left: 399px;
    z-index: 1000;
    width:54px;
    height:60px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.hat {
  position: absolute;
  width: 65px;
  height: 75px;
  top: 305px;
  left: 577px;
  background-image: url(/assets/images/hat.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.move-hat-to-ball {
  animation-name: hatAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes hatAnimation {
  from {
    top: 305px;
    left: 577px;
    z-index: 1000;
    width:65px;
    height:75px;
  }
  to {
    top: 592px;
    left: 873px;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

.bird {
  position: absolute;
  width: 48px;
  height: 50px;
  top: 12px;
  left: 441px;
  background-image: url(/assets/images/bird.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.move-bird-to-ball {
  animation-name: birdAnimation;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes birdAnimation {
  from {
    top: 12px;
    left: 441px;
    z-index: 1000;
    width:48px;
    height:50px;
    }
  to {
    top: 592px;
    left: 873px;
    z-index: 0;
    display: none;
    z-index: 0;
    width:30px;
    height:30px;
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
    display: none;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    display: none;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    display: none;
  }
}
