.game-console{
    position: absolute;
    top:50%;
    left:50%;
    width:1024px;
    height:703px;
    transform:translateX(-50%) translateY(-50%);
    // border:1px solid red;
    overflow: hidden;
}

#fullpage{
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

