<app-top-panel (updateToParent)="receiveFromChildTop($event)"></app-top-panel><!--sibling-A-->
<app-bottom-panel [articleFromGP]="article" [totalScoreFromGP]="totalScore"></app-bottom-panel><!--sibling-B-->
<app-timer (updateTimeOver)="timeOver($event)"></app-timer>