<div class="timer-container">
  <div class="timer-box">
    <div class="timer">{{strMinute}}</div>
    <span class="colon">:</span>
    <div class="timer">{{strSecond}}</div>
    <span class="colon">:</span>
    <div class="timer">{{strMiliSecond}}</div>
  </div>
</div>