/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Chalkduster;
    src: url(/assets/fonts/ArchitectsDaughter-Regular.ttf) format('eot'),
         url(/assets/fonts/ArchitectsDaughter-Regular.woff) format('woff'),
         url(/assets/fonts/ArchitectsDaughter-Regular.svg) format('svg');
  }