<div class="text">Your Total Score Is = <span class="score">{{totalScore}}</span></div>

<div class="game-over-panel">
  <div class="bg-image blink_me">
    <img src="/assets/images/game-over.png" alt="">
  </div>
</div>