.game-over-panel{
    position: relative;
    width: 100%;
    height: 100%;
    bottom: 90px;
}

.bg-image{
    position: relative;
    width: 100%;
    height: 100%;
}

img{
    width:100%;
    height:100%;
}

.text{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.score-number{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 50px;
}

.blink_me {
	animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }

  .score{
    color:blue;
  }